@using System.Linq;
@using Sandbox;
@using Sandbox.UI;
@using Sandbox.MenuSystem;
@using Sandbox.UI.GameMenu;

@page "/settings"
@namespace TSPS2.Menu
@attribute [StyleSheet]
@inherits Panel

<root>
    <div class="nav">
        <div class="settingsblock1">#GameSettings.Group.General</div>
        <div class="settingsblock2">#GameSettings.Group.Audio</div>
        <div class="settingsblock3">#GameSettings.Group.Controls</div>
    </div>
    <div class="back" @onclick=@OnClickBack>#Generic.Back</div>
</root>

@code {
    enum SettingsPage
    {
        Inputs,
        Client
    }

    public ObjectEditor Editor;
    SettingsPage Mode;
    bool needsRefresh = true;

    public SettingsMenu()
    {
        BindClass("ingame", () => Game.InGame);
    }

    protected override void OnAfterTreeRender(bool firstTime)
    {
        if ( Editor != null && needsRefresh )
        {
            needsRefresh = false;
        }
    }

    public void SetDefaults()
    {
        Game.Menu.InputSettings.InitDefault();
        TSPClientSettings.Reset();

        if(Editor != null)
            Editor.Target = TSPClientSettings.Current;
    }

    public void OnClickBack()
    {
        this.Navigate("/");
    }

    protected override void OnEvent( PanelEvent e )
    {
        base.OnEvent( e );

        if ( e.Name == "save" )
        {
            TSPClientSettings.Current.Save();
        }
    }
}