MainMenu {
    background-color: #262934;
    opacity: 1;
    flex-direction: column;
    font-size: 25px;
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;

    * {
        font-family: 'League Gothic';
    }

    .background {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(https://github-production-user-asset-6210df.s3.amazonaws.com/86578963/255554469-aa54cab0-327a-4251-be9b-9c7610506c13.png );
        background-size: cover;
        mask-scope: filter;
        background-repeat: no-repeat;
    }

    &:intro {
        opacity: 0;
        transform: scaleX(1.1);
    }

    &.ingame {
        background-color: #262934ee;
        backdrop-filter: blur(10px);

        .background {
            opacity: 0;
        }
    }

    .scroll {
        flex-direction: column;
        max-height: 386px;
        overflow: scroll;
        gap: 50px;
    }

    .spacer {
        height: 1px;
        background-image: linear-gradient(to right, rgba(white, 0.4), rgba(white, 0));
        width: 512px;
        padding: 16px 0px;
    }

    .wrapper {
        flex-direction: column;
        justify-content: left;
        width: 1000px;
        height: 900px;
        padding-left: 50px;
    }

    .game-title {
        flex-direction: column;
        gap: 0px;
        align-items: flex-start;
        padding-bottom: 250px;
        height: 425px;
    }

    OptionsPage .game-title {
        flex-direction: column;
        gap: 0px;
        align-items: flex-start;
        padding-bottom: 0px;
        height: 250px;
    }

    .someshit {
        background-color: #aaabad;
        height: 810px;
        width: 810px;
        display: flex;
        flex-direction: column;
        top: 30px;

        .row {
            display: flex;

            .column:first-child {
                flex: 1;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                margin: 5px 0px 5px 5px;

                .categoryname {
                    font-size: 40px;
                    color: #818181;
                }

                .keyname {
                    font-size: 40px;
                    color: black;
                    margin-left: 5px;
                }

                .key {
                    font-size: 40px;
                    color: black;
                }

                .categorykey {
                    font-size: 40px;
                    color: #818181;
                }
            }
        }

        .column:last-child {
            flex: 1;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            margin: 5px 5px 5px 0px;

            .categoryname {
                font-size: 40px;
                color: #818181;
            }

            .keyname {
                font-size: 40px;
                color: black;
                margin-left: 5px;
            }

            .key {
                font-size: 40px;
                color: black;
            }

            .categorykey {
                font-size: 40px;
                color: #818181;
            }
        }
    }


    .line {
        background-color: black;
        height: 1px;
    }

    .category:last-child .keyname {
        margin-left: 10px;
        margin-bottom: 5px;
    }

    .category:last-child .key {
        margin-bottom: 5px;
    }
}


.game-title1 {
    font-size: 73px;
    color: rgba(white, 1);
}

.game-title2 {
    font-size: 140px;
    color: rgba(white, 1);
}

.col {
    flex-direction: column;
}

.controls {
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;

    a,
    .button {
        font-size: 93px;

        &:hover {
            color: #7e7e7e;
            sound-in: stanley.menuhover;
            cursor: pointer;
        }

        &:active {
            sound-in: stanley.menuclick;
        }
    }

    .span {
        gap: 0px;
    }
}

OptionsPage .controls {
    flex-direction: column;
    gap: 0px;
    align-items: left;

    a,
    .button {
        font-size: 60px;

        &:hover {
            color: #7e7e7e;
            sound-in: stanley.menuhover;
            cursor: pointer;
        }

        &:active {
            sound-in: stanley.menuclick;
        }
    }

    .options {
        gap: 35px;
        flex-direction: row;
        top: 30px;
    }

    .span {
        gap: 0px;
    }
}

.navigator-canvas {
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 0;
}

.navigator-body {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    flex-direction: column;
    justify-content: center;

    &.hidden {
        opacity: 0;
    }
}
}

FormGroup {
    flex-direction: column;
    min-width: 300px;
    gap: 16px;
}

i {
    font-family: 'Material Icons';
    text-transform: lowercase;

    &.with-click {
        &:hover {
            cursor: pointer;
            color: white;
            transform: scale(1.1);
            sound-in: stanley.menuhover;
        }

        &:active {
            sound-in: stanley.menuclick;
        }
    }
}

.avatar {
    width: 64px;
    height: 64px;

    &:hover {
        border: 1px solid white;
    }
}