@using Sandbox;
@using System;
@using System.Linq;
@using System.Threading.Tasks;
@using Sandbox.Menu;
@using Sandbox.UI;
@using System.Collections.Generic;

<root>
    <div class="wrapper">
        <div class="controls">
            <div class=game-title>
                <div class="game-title2">
                    Edit keys
                </div>
            </div>
            <div class="someshit">
                @foreach (var category in GetCategories())
                {
                    <div class="row">
                        <div class="column">
                            <div class="categoryname">
                                @category.Name
                            </div>
                            <div class="line"></div>
                            @foreach (var keyInfo in category.Keys)
                            {
                                <div class="keyname">
                                    @keyInfo.Name
                                </div>
                            }
                        </div>
                        <div class="column">
                            <div class="categorykey">
                                KEY
                            </div>
                            <div class="line"></div>
                            @foreach (var keyInfo in category.Keys)
                            {
                                <div class="key">
                                    @keyInfo.Value
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>

            <div class=options>
                <a class="button" href="/">OK</a>
                <a class="button" href="/">Back</a>
            </div>
        </div>
    </div>
</root>

@code
{
    public class KeyInfo
    {
        public string Name { get; set; }
        public string Value { get; set; }
    }

    public class CategoryInfo
    {
        public string Name { get; set; }
        public List<KeyInfo> Keys { get; set; }
    }

    public List<CategoryInfo> GetCategories()
    {
        return new List<CategoryInfo>
{
new CategoryInfo
{
Name = "MOVEMENT",
Keys = new List<KeyInfo>
{
new KeyInfo { Name = "Move Forward", Value = "W" },
new KeyInfo { Name = "Move Back", Value = "S" },
new KeyInfo { Name = "Move Left (Strafe)", Value = "A" },
new KeyInfo { Name = "Move Right (Strafe)", Value = "D" },
new KeyInfo { Name = "Duck", Value = "CTRL" }
}
},
new CategoryInfo
{
Name = "ACTIONS",
Keys = new List<KeyInfo>
{
new KeyInfo { Name = "Use Item (Buttons, Machines, ...)", Value = "MOUSE1" }
}
},
new CategoryInfo
{
Name = "MISC",
Keys = new List<KeyInfo>
{
new KeyInfo { Name = "Voice", Value = "V" },
new KeyInfo { Name = "Chat", Value = "ENTER" }
}
}
};
    }
}
