.tsps2menu {
    opacity: 1;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;

    &.ingame {
        transition: 5s;
        backdrop-filter: blur(5px);
    }

    &:not(.ingame) {
        background-image: url(ui/Menu/menu_background.png); 
        background-size: cover;
        background-position: bottom;
    }
}

.navigator-body {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    flex-direction: column;
}
