@using Sandbox.UI;
@using Sandbox;

@attribute [StyleSheet]

@namespace TSPS2.Menu

@inherits Panel

<root>
    <div class="logotype-container">
        @if (!Game.InGame)
        {
            <div class="logotype1">
                #GameMenu.LogoType1
            </div>
            <div class="logotype2">
                THE STANLEY PARABLE:
            </div>
            <div class="logotype3">
                SOURCE 2
            </div>
        }
        else if (Game.InGame)
        {
            <div class="logotype2" style="font-size: 122.5px; margin-left: -2px; margin-top: 50px;">
                #GameMenu.InGameLogoType
            </div>
        }
    </div>
    @if (Game.InGame)
    {
        <div class="menublock-container2">
            <div class="menublock5">
                <div class="content5" @onclick=@OnClickResumeGame>
                    #GameMenu.ResumeTheGame
                </div>
                <div class="hoveryellowslice"></div>
            </div>
            <div class="menublock6">
                <div class="content6" @onclick=@OnClickBeginTheGame>
                    #GameMenu.BeginTheGameAgain
                </div>
                <div class="hoveryellowslice"></div>
            </div>
            <div class="menublock3">
                <div class="content3" @onclick=@OnClickSettings>
                    #GameMenu.Settings
                </div>
                <div class="hoveryellowslice"></div>
            </div>
            <div class="menublock7">
                <div class="content7" @onclick=@OnClickQuit>
                    #GameMenu.QuitToMenu
                </div>
                <div class="hoveryellowslice"></div>
            </div>
        </div>
        <div class="version-container">0.11 Alpha</div>
    }
    else if (!Game.InGame)
    {
        <div class="menublock-container1">
            <div class="menublock1">
                <div class="content1" @onclick=@OnClickBeginTheGame>
                    #GameMenu.BeginTheGame
                </div>
                <div class="hoveryellowslice"></div>
            </div>
            <div class="menublock2">
                <div class="content2" @onclick=@OnClickSettings>
                    #GameMenu.Settings
                </div>
                <div class="hoveryellowslice"></div>
            </div>
            <div class="menublock3">
                <div class="content3" @onclick=@OnClickCredits>
                    #GameMenu.Credits
                </div>
                <div class="hoveryellowslice"></div>
            </div>
            <div class="menublock4">
                <div class="content4" @onclick=@OnClickQuit>
                    #GameMenu.QuitToBrowser
                </div>
                <div class="hoveryellowslice"></div>
            </div>
        </div>
    }
</root>