@import "/UI/styles/assets.scss";

MainPage {
    flex-direction: column;
    font-family: LeagueGothic;

    &.hidden {
        display: none;
    }

    .logotype-container {
        margin-left: 60px;
        margin-top: 74px;
        max-width: 1000px;
        width: 100%;
        height: fit-content;
        flex-direction: column;
        text-shadow: 2px 2px black;
    }

    .hoveryellowslice {
        background-image: none;
        background-size: 100% 100%;
        width: 34px;
    }

    .menublock-container1 {
        position: absolute;
        bottom: 0;
        margin-bottom: 85px;
        flex-direction: column;

        .menublock1 {
            font-size: 71px;
            width: 455px;
            height: 82px;

            .content1 {
                width: 430px;
                padding-left: 55px;
            }

            &:active {
                sound-out: stanley.menuclick;
            }

            &:hover {
                sound-in: stanley.menuhover;

                .content1 {
                    color: black;
                    background-color: #F04845;
                }

                .hoveryellowslice {
                    background-image: url(ui/Menu/menu_hover_red_slice.png);
                }
            }
        }

        .menublock2 {
            font-size: 71px;
            width: 311.5px;
            height: 82px;

            .content2 {
                width: 277.5px;
                padding-left: 55px;
            }

            &:active {
                sound-out: stanley.menuclick;
            }

            &:hover {
                sound-in: stanley.menuhover;

                .content2 {
                    color: black;
                    background-color: #F04845;
                }

                .hoveryellowslice {
                    background-image: url(ui/Menu/menu_hover_red_slice.png);
                }
            }
        }

        .menublock3 {
            font-size: 71px;
            width: 286.5px;
            height: 82px;

            .content3 {
                width: 252.5px;
                padding-left: 55px;
            }

            &:active {
                sound-out: stanley.menuclick;
            }

            &:hover {
                sound-in: stanley.menuhover;

                .content3 {
                    color: black;
                    background-color: #F04845;
                }

                .hoveryellowslice {
                    background-image: url(ui/Menu/menu_hover_red_slice.png);
                }
            }
        }

        .menublock4 {
            font-size: 43px;
            margin-top: 15px;
            width: 330px;
            height: 48px;

            .content4 {
                width: 610px;
                padding-left: 55px;
            }

            &:active {
                sound-out: stanley.menuclick;
            }

            &:hover {
                sound-in: stanley.menuhover;

                .content4 {
                    color: black;
                    background-color: #F04845;
                }

                .hoveryellowslice {
                    background-image: url(ui/Menu/menu_hover_red_slice.png);
                }
            }
        }
    }

    .menublock-container2 {
        position: absolute;
        bottom: 0;
        margin-bottom: 67.5px;
        flex-direction: column;

        .menublock3 {
            font-size: 71px;
            width: 314px;
            height: 82px;

            .content3 {
                width: 280px;
                padding-left: 55px;
            }

            &:active {
                sound-out: stanley.menuclick;
            }

            &:hover {
                sound-in: stanley.menuhover;

                .content3 {
                    color: black;
                    background-color: #F04845;
                }

                .hoveryellowslice {
                    background-image: url(ui/Menu/menu_hover_red_slice.png);
                }
            }
        }

        .menublock5 {
            font-size: 71px;
            width: 499px;
            height: 82px;

            .content5 {
                width: 465px;
                padding-left: 55px;
            }

            &:active {
                sound-out: stanley.menuclick;
            }

            &:hover {
                sound-in: stanley.menuhover;

                .content5 {
                    color: black;
                    background-color: #F04845;
                }

                .hoveryellowslice {
                    background-image: url(ui/Menu/menu_hover_red_slice.png);
                }
            }
        }

        .menublock6 {
            font-size: 71px;
            width: 600px;
            height: 82px;

            .content6 {
                width: 541.5px;
                padding-left: 55px;
            }

            &:active {
                sound-out: stanley.menuclick;
            }

            &:hover {
                sound-in: stanley.menuhover;

                .content6 {
                    color: black;
                    background-color: #F04845;
                }

                .hoveryellowslice {
                    background-image: url(ui/Menu/menu_hover_red_slice.png);
                }
            }
        }

        .menublock7 {
            font-size: 71px;
            width: 402px;
            height: 82px;

            .content7 {
                width: 368px;
                padding-left: 55px;
            }

            &:active {
                sound-out: stanley.menuclick;
            }

            &:hover {
                sound-in: stanley.menuhover;

                .content7 {
                    color: black;
                    background-color: #F04845;
                }

                .hoveryellowslice {
                    background-image: url(ui/Menu/menu_hover_red_slice.png);
                }
            }
        }
    }

    .version-container {
        position: absolute;
        font-family: HKNova-Narrow;
        right: 0;
        bottom: 0;
        font-size: 19.95px;
        margin-bottom: 12px;
        margin-right: 10px;
        color: gray;
    }
}