.logotype1 {
    font-size: 71px;       
}

.logotype2 {
    font-size: 141.25px;
    margin-left: 1px;
    margin-top: -25px; 
}

.logotype3 {
    font-size: 141.25px;
    margin-left: 1px;
    margin-top: -50px; 
}