
LoadingScreen
{
    background-color: #262934;
    opacity: 1;
    flex-direction: column;
    font-size: 25px;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.3s ease-out;
    color: rgba( white, 0.8 );

    .background
    {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 1;
        background-size: contain;
        background-color: black;
    }

    &:intro
    {
        opacity: 0;
        transform: scaleX( 1.1 );
    }

    .controls
    {
        font-size: 93px;
        flex-direction: row;
        gap: 10px;
        align-items: flex-start;
        font-family: LeagueGothic;
        width: 3900px;
        height: fit-content;
        color: #373737;
        margin-left: -800px;
        margin-bottom: 50px;

        .loading {
            color: white;
        }
    }
}
