@using Sandbox;
@using Sandbox.UI;
@using System.Linq;
@using System.Threading.Tasks;
@using Sandbox.Menu;

@inherits RootPanel
@implements Sandbox.Menu.ILoadingScreenPanel
@attribute [StyleSheet]

<root style="flex-direction: column;">
    <div class="background" />

    <div style="flex-grow: 1;" />

    <div class="controls" style="flex-direction: flex-start; justify-content: center;">
        <a class="theendisnever1">@("THE END IS NEVER THE END IS NEVER THE END IS NEVER THE END IS NEVER THE END IS NEVER THE END IS THE END IS NEVER THE END IS")</a>
        <a class="loading">@("LOADING")</a>
        <a class="theendisnever2">@("NEVER")</a>
    </div>
</root>

@code
{
    public LoadingProgress Progress;

    public void OnLoadingProgress( LoadingProgress progress )
    {
        Progress = progress;
        StateHasChanged();
    }
}
