MainMenu {
    background-color: #262934;
    opacity: 1;
    flex-direction: column;
    font-size: 25px;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.3s ease-out;
    color: white;

    .background {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(https://github-production-user-asset-6210df.s3.amazonaws.com/86578963/255554469-aa54cab0-327a-4251-be9b-9c7610506c13.png );
        background-size: cover;
        mask-scope: filter;
        background-repeat: no-repeat;
    }

    &:intro {
        opacity: 0;
        transform: scaleX(1.1);
    }

    &.ingame {
        background-color: #262934ee;
        backdrop-filter: blur(10px);

        .background {
            opacity: 0;
        }
    }

    .scroll {
        flex-direction: column;
        max-height: 386px;
        overflow: scroll;
        gap: 50px;
    }

    .spacer {
        height: 1px;
        background-image: linear-gradient(to right, rgba(white, 0.4), rgba(white, 0));
        width: 512px;
        margin: 16px 0px;
    }

    .wrapper {
        flex-direction: column;
        justify-content: left;
        width: 1000px;
        height: 900px;
        margin-left: 50px;
    }

    .game-title {
        flex-direction: column;
        gap: 0px;
        align-items: flex-start;
        padding-bottom: 250px;
        height: 425px;
    }

    OptionsPage .game-title {
        flex-direction: column;
        gap: 0px;
        align-items: flex-start;
        padding-bottom: 700px;
        height: 425px;
    }

    .game-title1 {
        font-family: LeagueGothic;
        font-weight: 700;
        font-size: 73px;
        color: rgba(white, 1);
    }

    .game-title2 {
        font-family: LeagueGothic;
        font-weight: 700;
        font-size: 140px;
        color: rgba(white, 1);
    }

    .col {
        flex-direction: column;
    }

    .controls {
        flex-direction: column;
        gap: 0px;
        align-items: flex-start;

        a,
        .button {
            font-family: LeagueGothic;
            font-size: 93px;

            &:hover {
                color: #7e7e7e;
                font-weight: 900;
                sound-in: sounds/gameui/ui_menu_hover_01.sound;
                cursor: pointer;
            }

            &:active {
                sound-in: sounds/gameui/ui_menu_click_01.sound;
            }
        }

        .span {
            gap: 0px;
        }
    }

    OptionsPage .controls {
        flex-direction: column;
        gap: 50px;
        align-items: left;

        a,
        .button {
            font-family: LeagueGothic;
            font-size: 93px;

            &:hover {
                color: #7e7e7e;
                font-weight: 900;
                sound-in: sounds/gameui/ui_menu_hover_01.sound;
                cursor: pointer;
            }

            &:active {
                sound-in: sounds/gameui/ui_menu_click_01.sound;
            }
        }

        .span {
            gap: 0px;
        }
    }

    .options {
        gap: 35px;
        flex-direction: row;
    }

    .navigator-canvas {
        flex-direction: column;
        height: 100%;
        flex-grow: 1;
        flex-shrink: 0;
    }

    .navigator-body {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        flex-direction: column;
        justify-content: center;
        transition: opacity 0.15s ease-out;

        &.hidden {
            opacity: 0;
        }
    }
}

FormGroup {
    flex-direction: column;
    min-width: 300px;
    gap: 16px;
}

SlimPackageCard {
    flex-direction: row;
    gap: 12px;
    align-items: center;

    >i {
        &:hover {
            cursor: pointer;
            color: white;
            transform: scale(1.1);
            sound-in: sounds/gameui/ui_menu_hover_01.sound;
        }

        &:active {
            sound-in: sounds/gameui/ui_menu_click_01.sound;
        }
    }
}

i {
    font-family: Material Icons;
    text-transform: lowercase;

    &.with-click {
        &:hover {
            cursor: pointer;
            color: white;
            transform: scale(1.1);
            sound-in: sounds/gameui/ui_menu_hover_01.sound;
        }

        &:active {
            sound-in: sounds/gameui/ui_menu_click_01.sound;
        }
    }
}

.avatar {
    width: 64px;
    height: 64px;

    &:hover {
        border: 1px solid white;
    }
}