@using Sandbox;
@using System;
@using System.Linq;
@using System.Threading.Tasks;
@using Sandbox.Menu;
@using Sandbox.UI;

<root>
    <div class="wrapper">
        <div class="controls">
            <div class=game-title>
                <div class="game-title2">
                    Edit keys
                </div>
            </div>
            <div class=options>
                <a class="button" href="/">OK</a>
                <a class="button" href="/">Back</a>
            </div>
        </div>
    </div>
</root>

@code
{
}